*.swp
*.iml
*.ipr
*.iws
*.log
*.log.*
*.ids

.DS_Store
.gradletasknamecache
.java-version
.kitchen

.idea/

.classpath
.project
.settings

.nb-gradle/
/.nb-gradle/profiles/private/
/.nb-gradle/private/
/.nb-gradle

.gradle/
build/
target/
classes/
bin/
out/
tmp/

*.pid
/*.nb-gradle-properties

/build/e

*.vscode